/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

.product-card{
width: 400px;
border: 3px solid black;
border-radius: 3px;
padding: 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-left: 500px;
margin-top: 150px;
background-color: white;
}

.product-image{
width: 75%;
height: 200px;
background-size: cover;
background-position: center;
border-radius: 5px
}

.product-title{
font-size: 30px;
margin:10px 0;
}

.product-description{
font-size: 14px;
color: #555;

}

.product-price{
font-size: 20px;
font-weight: bold;
margin: 10px 0;
}

.product-button{
display:block;
width: 100%;
padding: 10px;
text-align: center;
color:rgb(255, 255, 255);
background-color: rgb(0, 145, 255);
border:none;
border-radius:5px;
cursor:pointer;
transition: background-color 0.3s;
}

.product-button:hover{
  background-color: red;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-image: url("https://images.squarespace-cdn.com/content/56d8bff4a3360ca940504574/1483840679402-49DJA6KAZSRBYAP0FPF9/10-Mar-2006+14-30-31_0030.JPG?format=1500w&content-type=image%2Fjpeg")
}